/* Computer */

.grid_3 { width: 40.5%; } 


.grid_9 { width: 59.5%; } 

.grid_12 {width:100%; }

.grid_3, .grid_9, .grid_12
{
	margin: 0 2% 1% 0;
	float: left;
	display: block;
}

.alpha{margin-left:0;}
.omega{margin-right:0;}

.container{
	width: 90%; /*width: 1000px;*/
	max-width: 1000px;
	margin: auto;
}
.columns{
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
	border-radius:5px;
	width:23%;float:left;margin:1%;
	}
#home-table{ border-collapse: separate;
			border-spacing: 10px 5px;
}
#home-table td{-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.05);
	border-radius:5px;
	width:23%;}


.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}




